<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<name>login</name>
		<class>com.test.SimpleHttpServer.LogonServlet</class>
	</servlet>
	<mapping>
		<name>login</name>
		<url-pattern>/login</url-pattern>
		<url-pattern>/log</url-pattern>
	</mapping>
	
	<servlet>
		<name>register</name>
		<class>com.test.SimpleHttpServer.demo4.RegisterServlet</class>
	</servlet>
	<mapping>
		<name>register</name>
		<url-pattern>/register</url-pattern>
		<url-pattern>/reg</url-pattern>
	</mapping>
	
	<servlet>
		<name>error</name>
		<class>com.test.SimpleHttpServer.ErrorServlet</class>
	</servlet>
	<mapping>
		<name>error</name>
		<url-pattern>/error</url-pattern>
	</mapping>
</web-app>